@import '../../stylesheet/shared/all';


.banner{
    margin: 0 auto;
    background: linear-gradient(45deg, #22c1c3,#fdbb2d);
    font-family: "Roboto";
}

.title{
    text-transform: uppercase;
    color: $background-color;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    word-spacing: 2px; 
    margin: 0 auto;
    @media only screen and (min-width: $breakpoint-small) {
        font-size: 1.5em;
    }
    @media only screen and (min-width: $breakpoint-medium){
        font-size: 2em;
        padding: 30px;
    }
}